<h1>Редактировать работника</h1>

<%= simple_form_for @employee, url: update_employee_path(@employee)  do |f| %>
	<%= f.error_notification %>
	
	<%= f.input :name %>
	<%= f.association :departament %>
	<%= f.button :submit %>
<% end %>
