<h4>Редактировать выходной или отгул</h4>

<%= simple_form_for @dayoff, url: update_dayoff_path do |f| %>
	<%= f.error_notification %>
	
	<%= f.association :employee %>
	<%= f.association :day, :label_method => :date, :value_method => :id %>
	
	<%= f.button :submit %>
<% end %>
