<h4 class="text-center">Список выходных и отгулов</h4>

<div>
	<%= link_to 'Добавить выходной или отгул',  dayoff_new_path %>
</div>
<%= will_paginate @dayoffs %>
<table class="table">
	<tbody>
		<tr>
			<th>
				имя
			</th>
			<th>
				отдел
			</th>
			<th colspan="3">
				дата
			</th>
		</tr>
	<% @dayoffs.each do |dayoff| %>
		<tr>
			<td>
				<%= dayoff.employee.name %>
			</td>
			<td>
				<%= dayoff.employee.departament.name %>
			</td>
			<td>
				<%= dayoff.day.date.strftime("%m/%d/%Y") %>
			</td>
			<td class="indexTableTd text-right">
				<%= link_to 'Изменить',  edit_dayoff_path(dayoff) %>
			</td>
			<td class="indexTableTd text-right">
				<%= link_to 'Удалить', delete_dayoff_path(dayoff), :method=>:delete %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @dayoffs %>

