<!DOCTYPE html>
<html>
<head>
  <title>Workindays</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<div>
	<% if user_signed_in? %>
	    <span>Здравствуйте, <%= current_user.email %></span>
	    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
	<% else %>
	    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
	<% end %>
	</div>

	<% if user_signed_in? %>
	<div>
    <br />
    <ul class="nav nav-justified">
      <li class="active">
      	<%= link_to 'Управление отделами',  departament_index_path %>
      </li>
      <li class="active">
      	<%= link_to 'Админ панель',  admin_index_path %>
      </li>
      <li>
      	<%= link_to 'Управление работниками', employee_index_path %>
      </li>
    </ul>
  </div>
  <% end %>
  
  <br />
  <div>
        <%= link_to 'Управление выходными', dayoff_path, :class=>"btn btn-primary btn-md btn-block" %>
      
        <%= link_to 'Главная',  '/', :class => "btn btn-primary btn-md btn-block" %>
      
        <%= link_to 'Управление отпусками', '/', :class => "btn btn-primary btn-md btn-block" %>
  </div>
  <br />

	<%= yield %>
</div>
</body>
</html>
